<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            <![CDATA[jdbc:mysql://120.27.245.130:3306/pm?useUnicode=true&characterEncoding=utf8]]>
        </property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- DB schema will be updated if needed -->
         <property name="hibernate.hbm2ddl.auto">update</property>
         <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.username">root</property>
        <property name="connection.password">admin123456root</property>

        <mapping class="com.pm.dao.datasource.Goods"/>
        <mapping resource="com/pm/dao/datasource/Goods.hbm.xml"/>
        <mapping resource="com/pm/dao/datasource/Manager.hbm.xml"/>
        <mapping class="com.pm.dao.datasource.Manager"/>
        <mapping class="com.pm.dao.datasource.Order"/>
        <mapping resource="com/pm/dao/datasource/Order.hbm.xml"/>
        <mapping class="com.pm.dao.datasource.Orderstatus"/>
        <mapping resource="com/pm/dao/datasource/Orderstatus.hbm.xml"/>
        <mapping class="com.pm.dao.datasource.Point"/>
        <mapping resource="com/pm/dao/datasource/Point.hbm.xml"/>
        <mapping resource="com/pm/dao/datasource/Pointtype.hbm.xml"/>
        <mapping class="com.pm.dao.datasource.Pointtype"/>
        <mapping class="com.pm.dao.datasource.User"/>
        <mapping resource="com/pm/dao/datasource/User.hbm.xml"/>
        <mapping resource="com/pm/dao/datasource/VOrderinf.hbm.xml"/>
        <mapping class="com.pm.dao.datasource.VOrderinfId"/>
    </session-factory>
</hibernate-configuration>